PORT=4000
DB_STRING=mongodb+srv://public_user:public123@test.txjvc.mongodb.net/test?retryWrites=true&w=majority
TOKEN=mySecretEncryptionKey123
EMAIL_USER=1337royal1337@gmail.com
EMAIL_PASS=jmnfdasxotiodkhe
NODE_ENV=development
CLIENT_DEV_URL=http://localhost:3000
CLIENT_PROD_URL=http://localhost:3000
#time after which the app will clean the database with expired attributes
CRON_TIME=*/10 * * * *
STRIPE_WEBHOOK_SECRET=whsec_9fzvErAhslBlq6trG88iSPUkiQkoDuKV

